<div class="container">
    <h1><span id="back"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>zurück</span><span>TeleSec ServerPass Standard</span></h1>
    <div class="jumbotron">
        <form id="form" class="form-horizontal">
            <div class="form-group col-md-12">
                <label class="control-label col-sm-4" for="privateKey"><span id="privateKey_help" class="help glyphicon glyphicon-question-sign" aria-hidden="true"></span> Privater Schlüssel:*</label>
                <div class="col-sm-8">
                    <input id="privateKey" type="file" class="form-control file" accept=".csr,.pem,.der" data-show-upload="false" data-show-preview="false" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-4" for="password"><span id="password_help" class="help glyphicon glyphicon-question-sign" aria-hidden="true"></span> Schlüsselpasswort:</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Schlüsselpasswort eingeben">
                </div>
            </div>
            <div class="form-group col-md-12 has-feedback">
                <label class="control-label col-sm-4" for="CN"><span id="CN_help" class="help glyphicon glyphicon-question-sign" aria-hidden="true"></span> Domain Name (CN):*</label>
                <div class="col-sm-8">
                    <input class="form-control" id="CN" name="CN" data-domain="true" placeholder="Domain Name eingeben" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-4" for="C"><span id="C_help" class="help glyphicon glyphicon-question-sign" aria-hidden="true"></span> Geschäftssitz (C):*</label>
                <div class="col-sm-8">
                    <select name="C" class="form-control" id="C">
                      <option value="DE">Deutschland</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-12 has-feedback">
                <label class="control-label col-sm-4" for="L"><span id="L_help" class="help glyphicon glyphicon-question-sign" aria-hidden="true"></span> Stadtname (L):*</label>
                <div class="col-sm-8">
                    <input class="form-control" id="L" name="L" placeholder="Stadtname eingeben" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group col-md-12 has-feedback">
                <label class="control-label col-sm-4" for="O"><span id="O_help" class="help glyphicon glyphicon-question-sign" aria-hidden="true"></span> Organisationsname (O):*</label>
                <div class="col-sm-8">
        	          <input class="form-control" id="O" name="O" placeholder="Organisationsnamen eingeben" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-sm-4" for="OU1"><span id="OU1_help" class="help glyphicon glyphicon-question-sign" aria-hidden="true"></span> Untereinheit1 (OU1):</label>
                <div class="col-sm-8">
                    <input class="form-control" id="OU1" name="OU1" placeholder="Untereinheit1 eingeben">
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-4" for="OU2"><span id="OU2_help" class="help glyphicon glyphicon-question-sign" aria-hidden="true"></span> Untereinheit2 (OU2):</label>
                <div class="col-sm-8">
                    <input class="form-control" id="OU2" name="OU2" placeholder="Untereinheit2 eingeben">
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-4" for="OU3"><span id="OU3_help" class="help glyphicon glyphicon-question-sign" aria-hidden="true"></span> Untereinheit3 (OU3):</label>
                <div class="col-sm-8">
                    <input class="form-control" id="OU3" name="OU3" placeholder="Untereinheit3 eingeben">
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-4" for="OU4"><span id="OU4_help" class="help glyphicon glyphicon-question-sign" aria-hidden="true"></span> Untereinheit4 (OU4):</label>
                <div class="col-sm-8">
                    <input class="form-control" id="OU4" name="OU4" placeholder="Untereinheit4 eingeben">
                </div>
            </div>
            <div class="form-group col-md-12">
                <label class="control-label col-sm-4" for="OU5"><span id="OU5_help" class="help glyphicon glyphicon-question-sign" aria-hidden="true"></span> Untereinheit5 (OU5):</label>
                <div class="col-sm-8">
                    <input class="form-control" id="OU5" name="OU5" placeholder="Untereinheit5 eingeben">
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-sm-4" for="streetAddress"><span id="streetAddress_help" class="help glyphicon glyphicon-question-sign" aria-hidden="true"></span> Straßenname:</label>
                <div class="col-sm-8">
                    <input class="form-control" id="streetAddress" name="streetAddress" placeholder="Straßenname eingeben">
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label col-sm-4" for="postalCode"><span id="postalCode_help" class="help glyphicon glyphicon-question-sign" aria-hidden="true"></span> Postleitzahl:</label>
                <div class="col-sm-8">
                    <input class="form-control" id="postalCode" name="postalCode" placeholder="Postleitzahl eingeben">
                </div>
            </div>

            <div class="form-group col-md-12 has-feedback">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" id="submit" class="btn btn-primary btn-block">CSR Erzeugen</button>
                </div>
            </div>

            <div class="form-group col-md-12">
              <span class="control-label">* Diese Felder müssen ausgefüllt werden.</span>
            </div>

        </form>
        <span class="clearfix"></span>
    </div>
</div>
