<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=525, user-scalable=yes"/>
    <link href="../../build/icons/256x256.png" rel="icon" type="image/x-icon" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="container">
      <div id="head">
        <span id="back">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          zurück
        </span>
        <span id="title"></span>
      </div>
      <div id="main" class="jumbotron"></div>
    </div>  
  </body>
</html>
