<div class="container">
    <h1><span id="back"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>zurück</span>CSR Anzeigen</h1>
    <div class="jumbotron">
      <p>
        <label class="control-label">CSR Datei Auswählen</label>
        <form><input id="file" type="file" class="file" accept=".csr,.pem,.der" data-show-upload="false" data-show-preview="false"></form>
      </p>
      <p>
        <pre class="highlight" id="pre" style="display:none;"></pre>
      </p>
    </div>
</div>
