<div class="container">
    <h1><span id="back"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>zurück</span>Schlüsselpaar Erzeugen</h1>
    <div id="keygenForm" class="jumbotron">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2" for="keylength">Schlüssellänge:</label>
                <div class="col-sm-10">
                    <select class="form-control" id="keylength">
                    <option value="2048">2048</option>
                    <option value="4096">4096</option>
                    <option value="8192">8192</option>
                  </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Passwort:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" placeholder="Passwort eingeben">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="start" class="btn btn-primary btn-block">Start</button>
                </div>
            </div>
        </form>
    </div>
    <div id="keygenWait" style="display:none" class="jumbotron">
        <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>
    <div id="keygenDownload" style="display:none" class="jumbotron">
      <div class="row">
        <div class="col-sm-6"><button type="button" id="downloadPrivateKey" class="btn btn-block btn-info">Download Privater Schlüssel</button></div>
        <div class="col-sm-6"><button type="button" id="downloadPublicKey" class="btn btn-block btn-info">Download Öffentlicher Schlüssel</button></div>
      </div>
    </div>

</div>
