<div class="container">
    <h1>Funktionsübersicht</h1>
    <div class="jumbotron">
        <div id="cryptoWarning" style="display:none" class="alert alert-warning">
          <strong>Schlüsselerzeugung nicht möglich</strong>, da Ihr Browser keine <a target="_blank" href="http://caniuse.com/#feat=cryptography">Web Kryptographie</a> unterstützt.
        </div>
        <button id="keygen" type="button" class="btn btn-primary btn-lg btn-block">Schlüsselpaar Erzeugen</button>
        <button id="csroverview" type="button" class="btn btn-primary btn-lg btn-block">CSR Erzeugen</button>
        <button id="p12create" type="button" class="btn btn-primary btn-lg btn-block">P12 Erzeugen</button>
        <div>&nbsp;</div>
        <button id="csrshow" type="button" class="btn btn-primary btn-lg btn-block">CSR Anzeigen</button>
        <!---<button id="p12show" type="button" class="btn btn-primary btn-lg btn-block">P12 Anzeigen</button>--->
    </div>
</div>
